@{
    ViewData["Title"] = "Solve";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Solve">
    <div class="row">
        <div class="col">
            <input type="text" name="input1"/>
        </div>
        <div class="col">
            <input type="text" name="input2"/>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-black">Submit Me</button>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col">
        The calculated output is: @ViewData["Output"]
    </div>
</div>
